<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
	<link rel="stylesheet" href="Styles.css" type="text/css"/>
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<div class= "navbar-inner">
			<div class="container">
			<a class="brand" href="/">
				<font style = "verticlal-aling:inherit;">
					<font style = "vertical-aling:inherit;">Catálogo de libros</font>
				</font>
			</a>
			</div>
		</div>
	
	</nav>
	<!-- Registro de nueva editorial -->
	<a href="/registrarEditorial.html" role ="button" class= "btn btn-primary btn-lg btn-block"> Registrar nueva editorial
	</a>

	<!-- Registro de nuevo Libro -->
	<a href="/nuevoLibro" role ="button" class= "btn btn-dark btn-lg btn-block">Registrar nuevo libro</a>

	<!-- Consulta de editoriales -->
	<p>Consulta de editoriales</p>
	<form method="post" action="/consultaEditorial">
		<select name="criterio" >
			<option value="nombre">Nombre</option>
			<option value="email">E-mail</option>
			<option value="telefono">Telefono</option>
			<option value="cPostal">Cod. Postal</option>
			<option value="nif">NIF</option>
		</select>
		<input type="text" name="filtro" />
		<input type="submit" value="Enviar"/>
	</form>
	
	<!-- Consulta de libros -->
	<p>Consulta de libros</p>
	<form method="post" action="/consultaLibro">
		<select name="criterio" >
			<option value="autores">Autores</option>
			<option value="titulo">Título</option>
			<option value="categoria">Categoria</option>
			<option value="nPaginas">Nº Páginas</option>
			<option value="pvp">PVP</option>
			<option value="anyoPublicacion">Año de publicacion</option>
		</select>
		<input type="text" name="filtro" />
		<input type="submit" value="Enviar"/>
	</form>
		
	<!-- Ordenar editoriales -->
	<p>Ordenar editoriales por:</p>
	<form method="post" action="/ordenarEditoriales">
		<select name="criterio">
			<option value="nombre">Nombre</option>
			<option value="email">E-mail</option>
			<option value="telefono">Telefono</option>
			<option value="cPostal">Cod. Postal</option>
			<option value="nif">NIF</option>
		</select>
		<input type="submit" value="Ordenar"/>
	</form>
	
	<!-- Ordenar Libros -->
	<p>Ordenar Libros por:</p>
	<form method="post" action="/ordenarLibros">
		<select name="criterio">
			<option value="autores">Autores</option>
			<option value="titulo">Título</option>
			<option value="categoria">Categoria</option>
			<option value="nPaginas">Nº Páginas</option>
			<option value="pvp">PVP</option>
			<option value="anyoPublicacion">Año de publicacion</option>
		</select>
		<input type="submit" value="Ordenar"/>
	</form>
	
	<!-- Listado de editoriales -->
	<h2>Editoriales</h2>
	<p th:each="editorial : ${totalEditoriales}">
	<a th:text="${editorial.nombre}"></a> 
	<a th:href="@{/irAContenidoEditorial(idEditorial=${editorial.idEditorial})}"> Ver</a>
	<a th:href="@{/irAModificarEditorial(idEditorial=${editorial.idEditorial})}"> Modificar</a>
	</p>
	
	<!-- Listado de libros -->
	<h2>Libros</h2>
	<p th:each="libro : ${totalLibros}">
	<a th:text="${libro.titulo}"></a> 
	<a th:href="@{/irAContenidoLibro(id=${libro.id})}"> Ver</a>
	<a th:href="@{/irAModificarLibro(id=${libro.id})}"> Modificar</a>
	</p>
	
	
	
	
	
</body>
</html>