<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
	<link rel="stylesheet" href="Styles.css" type="text/css"/>
	<title>Editorial Modificada</title>
</head>
<body>
	<div id="cabecera">
		<h2>La editorial ha sido modificada con éxito.</h2>
	</div>
	
	<div class="alert alert-primary" id="backToMenu">
		<a href="/" class="alert-link" >Volver al catálogo</a>
	</div>
</body>
</html>