<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
	<link rel="stylesheet" href="Styles.css" type="text/css"/>
	<title>Modificar libro</title>
</head>
<body>
<div id="cabecera">
	<h1> Modificar libro</h1>
</div>

<div class="container" id="formulario">
<form method="post" action="/modificarLibroCompletado">
	<input type="hidden" name="id" th:value="${libro.id}"/>

	<div class="form-group col-lg-5">
		<label>Título</label>
		<input type="text" class="form-control" name="titulo" th:field="${libro.titulo}" />
	</div>
	
	<div class="form-group col-lg-5">
		<label>Autores</label>
		<input type="text" class= "form-control" name="autores" th:field="${libro.autores}" />
	</div>
	
	<div class="form-group col-lg-5">
		<label>Categoría</label>
		<input type="text" class="form-control" name="categoria" th:field="${libro.categoria}" />
	</div>
	
	<div class="form-group col-lg-5">
		<label>Editorial</label>
		<select class="form-control" name="nombre"> 
			<option th:each="editorial : ${totalEditoriales}"
					th:value="${editorial.nombre}" th:text="${editorial.nombre}">
			</option>
		</select> 
	</div>
	
	<div class="form-group col-lg-5">
		<label>Número de páginas</label>
		<input type="number" class="form-control" name="nPaginas" th:field="${libro.nPaginas}" />
		<small class="form-text text-muted">Introduzca un número positivo</small>
	</div>
	
	<div class="form-group col-lg-5">
		<label>Precio</label>
		<input type="number" class="form-control" name="pvp" th:field="${libro.pvp}" />
		<small class="form-text text-muted">Introduzca un número positivo</small>
	</div>
	
	<div class="form-group col-lg-5">
		<label>Año de publicación</label>
		<input type="number" class="form-control" name="anyoPublicacion" th:field="${libro.anyoPublicacion}" />
		
	</div>
		
	<input type="submit" class="btn btn-dark" value="Modificar"/>
</form>
</div>

	<div class="alert alert-primary" id="backToMenu">
		<a href="/" class="alert-link" >Volver al catálogo</a>
	</div>
	
</body>
</html>


