<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
	<link rel="stylesheet" href="Styles.css" type="text/css"/>
	<title>Modificar editorial</title>
</head>
<body>
<div id="cabecera">
	<h1> Modificar editorial</h1>
</div>

<div class="container" id="formulario">
<form method="post" action="/modificarEditorialCompletado">
	<input type="hidden" name="idEditorial" th:value="${editorial.idEditorial}"/>
	
	<div class="form-group col-lg-5">
		<label>Nombre</label>
		<input type="text" class="form-control" name="nombre" th:field="${editorial.nombre}" />
	</div>
	<div class="form-group col-lg-5">
		<label>NIF</label>
		<input type="number" class="form-control" name="nif" th:field="${editorial.nif}" />
	</div>
	<div class="form-group col-lg-5">
		<label>Teléfono</label>
		<input type="tel" pattern="(^[9|7|6]\d{8}$" class="form-control" name="telefono" th:field="${editorial.telefono}" />
		<small class="form-text text-muted">Introduzca 9 dígitos</small>
	</div>
	<div class="form-group col-lg-5">
		<label>e-mail</label>
		<input type="email" class="form-control" name="email" th:field="${editorial.email}" />
		<small class="form-text text-muted">Ejemplo: usuario@example.com</small>
	</div>
	<div class="form-group col-lg-5">
		<label>Código postal</label>
		<input type="number" class="form-control" name="cPostal" th:field="${editorial.cPostal}" />
		<small class="form-text text-muted">Ejemplo: 28080</small>
	</div>
	<input type="submit" class="btn btn-dark" value="Modificar"/>
</form>
</div>

<div class="alert alert-primary" id="backToMenu">
	<a href="/" class="alert-link" >Volver al catálogo</a>
</div>

</body>
</html>


