@charset "ISO-8859-1";

#formulario{
	margin-top: 10px;
	margin-left: 5px;
	padding-bottom: 15px;
	margin-bottom: 10px;
	
}

#listadoLibros{
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	width:50%;
}

#cabecera{
	margin-top: 0.5em;
	margin-left: 30px;
}

#backToMenu{
	width:100%;
	margin-bottom: 0%;
	margin-right: 0%;
	
}

#nuevaEditorial{
	margin-left: 15px; 
}

#linkTabulado{
	margin-left: 15px;
}

#info{
	margin-left: 25px;
	margin-right: 25%;
	width: 80%;
}

#boton{
	margin-left: 15px;
}

#mainNav{
	height: 12px;
}
.navbar {
	background-color: white;
}

#inWhite {
	color:white;
	margin-top: 0.5em;
	margin-left: 15px;
}

.app-content {
	position: relative;
	overflow: auto;
}

.app-sidebar.sidebar-dark.sidebar-slide-left {

    background: #343a40;
    float: left;
    font-size: 0.95rem;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: .95rem 0;
    position: relative;
    width: 15rem;
    height: 100%;

}